.button {
    display: inline-flex;
    height: 2.8rem;
    padding: 0.6rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    cursor: pointer;

}
.primary {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--primary-primary, #0065F4);
}
.primary:hover {
    background: var(--primary-primary-hover, #0052CC);
}
.primary:active  {
    background: var(--primary-primary-pressed, #0a55c6);
    scale: 1.055;
}

.secondary {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--secondary-Secondary, #F6AA00);
}
.secondary:hover {
    background: var(--secondary-Secondary-hover, #ffbe32);

}
.secondary:active  {
    background: var(--primary-primary-pressed, #fcb929);
    scale: 1.055;
}
.nofillPrimary {
    color: var(--primary-primary, #0065F4);
    background: transparent;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-primary, #0067FD);
}
.nofillPrimary:hover {
    background: #5192fa0c;
}
.nofillPrimary:active {
    background: #5192fa31;
    scale: 1.055;
}


.nofillSecondary {
    color: var(--secondary-Secondary, #F6AA00);
    background: transparent;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-Secondary, #F6AA00);
}
.nofillSecondary:hover {
    background: #f6a8000f;
}
.nofillSecondary:active {
    background: #f6a80029;
    scale: 1.055;
}

