.main {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    gap: 0.5rem;
    line-height: normal;
    font-style: normal;
    padding: 4em 6.75rem;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.heading h1 {
    color: var(--Neutral-Black1-0C0C0C, #0c0c0c);
    color: var(--Neutral-Black1-0C0C0C, color(display-p3 0.0471 0.0471 0.0471));
    font-size: 2.75rem;
    text-align: center;
    font-weight: 700;
}

.heading p {
    color: var(--Neutral-Black2-1D1D1D, #1d1d1d);
    color: var(--Neutral-Black2-1D1D1D, color(display-p3 0.1125 0.1125 0.1125));
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.content {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    padding: 1.6875rem 3.1875rem;
    flex-direction: column;
    height: fit-content;
    /* text-align: center; */
    gap: 0.625rem;
    flex: 1 0 0;
    border-radius: 0.5rem;
    background: var(--Neutral-white, #FFF);
    box-shadow: 0px 4px 60px 0px rgba(36, 45, 123, 0.08);
}
.card:hover {
    box-shadow: 3px 3px 20px 0px rgba(138, 178, 251, 0.30);
}
.headingCard {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}

.headingCard h2 {
    color: var(--Neutral-Black2-1D1D1D, #1D1D1D);
    color: var(--Neutral-Black2-1D1D1D, color(display-p3 0.1125 0.1125 0.1125));

    font-size: 1.25rem;
    font-weight: 700;
}

.headingCard p {
    color: var(--Neutral-gray-404040, #404040);

    font-size: 1rem;
    font-weight: 400;
}

.price {
    margin: 1rem 0;
    padding: 0.9375rem 0 0.9375rem 0.9375rem;
    background: var(--primary-tint-1, #E8EFFE);
    background: var(--primary-tint-1, color(display-p3 0.9137 0.9373 0.9922));
}

.premium {
    background: var(--primary-tint-4, #8AB2FB);
    background: var(--primary-tint-4, color(display-p3 0.5725 0.6941 0.9608));
}

.price h4 {
    color: var(--Neutral-Black2-1D1D1D, #1D1D1D);

    font-size: 1.5rem;
    font-weight: 700;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.8rem;
}

.list .row {
    display: flex;
    gap: 0.3rem;
}