.header {
  display: flex;
  padding: 1.75rem 6.875rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.ulNav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.625rem;
  text-wrap: nowrap;
}
.userBox {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}
.bgLight {
  border-bottom: 1px solid var(--Neutral-gray-BDBDBD, #BDBDBD);
  background: var(--Neutral-white, #FFF);
}
.bgDark {
  background: linear-gradient(180deg, #0065F4 0%, #01337B 100%);
}
