.bgLight {
    background: var(--Neuftral-white, #fff);
    color: var(--primary-shade-2, #01337B);
}

.bgDark {
    background: linear-gradient(180deg, #0065F4 0%, #01337B 100%);
    color: var(--Neutral-white, #FFF);
}

.Footer {
    padding: 1.75rem 6.875rem;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    border-top: var(--border)
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.col h3 {

    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.col p {

    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.col .quote {
    font-size: 1rem;
}

.rowInCol {
    display: flex;
    gap: 0.25rem;
    justify-content: start;
    align-items: center;
}

.socialBox {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.socialBox>li {
    width: 1.5rem;
    height: 1.5rem;
}

.row2 {
    padding: 1.75rem 6.875rem;
    margin-top: 3rem;
    border-top: var(--border);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    display: flex;
    gap: 4rem;
}

.row2 .AllRight {
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
}

.block p {
    text-align: right;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    text-transform: capitalize;
}

.socialBox>li>a {}